# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

glfw
build
Debug
Debug*
BuildToQt*
BuildToQtCreator
CMakeLists.txt.user

/**/*.spv
bb
build

spvs

b
vendor